{% extends '_base.html' %}
{% load static %}
{% block title %}
    Sign In
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/log.css' %}">
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="login_form">
        <!-- Login form container -->
        <form action="#" method="post">
            {% csrf_token %}
            <h1>signup page</h1>
            {{ form|crispy }}
            <div class="input_box">
                <div class="password_title">
                    <a href="{% url 'password_reset' %}">Forgot Password?</a>
                </div>
            </div>
            <!-- Login button -->
            <button type="submit">Sign Up</button>
            <p class="sign_up">Do you have an account? <a href="{% url 'login' %}">Log In</a></p>
        </form>
    </div>


{#    <div class="container col-8 ">#}
{#        <h1>Sign Up</h1>#}
{#        <form action="" method="post">#}
{#            {% csrf_token %}#}
{#            {{ form|crispy }}#}
{#            <button class="btn btn-primary" type="submit">Sign In</button>#}
{#        </form>#}
{#        <p><a href="{% url  'login'%}">you have an account?</a></p>#}
{#    </div>#}
{% endblock content %}
