{% extends '_base.html' %}
{% block title %}
    حذف
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container mt-4 " style="width: 35rem">
        <div class="card text-white text-end bg-danger mb-3" style="max-width: 18rem;">
            <div class="card-header">حذف کتاب</div>
            <div class="card-body">
            <h5 class="card-title">ایا مطمینی که این کتاب رو میخوای پاک کنی؟</h5>
            <form action="" method="post">
                {% csrf_token %}
                <button class="btn btn-info mt-4" type="submit">حذف</button>
            </form>
          </div>

    </div>
{% endblock content %}
